header {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    height: 150px;
    padding: 20px;
    @include flex($dir: column, $just: space-between, $align: center);
    @include medq($break-m) {
        flex-direction: row;
        justify-content: space-between;
    }
}

a.login-btn {
    background-color: $btn;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: $white;
}