h1 {
    font-size: 2em;
    color: $menu-text;
    margin: 6px;
    @include medq($break-m) {
        margin: 10px 0px 25px 0px;
        font-size: 3em;
    }
}

h3 {
    color: $white;
    font-weight: 100;
}

h3 span {
    font-weight: bold;
}

h3.main-logo-text {
    margin-top: 0px;
}

