* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

hr {
  width: 50%;
  margin: 60px auto 20px;
  border: 2px solid $btn;
}

footer {
  width: 60%;
  margin: auto;
  & p {
    color: $white;
    font-size: 0.75em;
    text-align: center;
    & span {
      color: $btn;
    }
  }
}
